body{
    background-color: teal;
}
h2{
    text-align: center;
    color: maroon;
    font-size: large;
    font-family: sans-serif;
}
p{
    text-align: center;
    color:maroon;
    font-size: large;
    font-family: sans-serif;
}