body{
    background-color: maroon;
}
h2{
    text-align: center;
    font-size: large;
    font-family: sans-serif;
}
p{
    text-align: justify;
    font-size: large;
    font-family: sans-serif; 
}
img{
    display: flex;
    padding: 5px;
    margin-top: 2px;
}